<div>
	<div>
		<%= link_to "Home", root_path %>
	</div>
	<div>
		<%= link_to "Services", services_path %>
	</div>
	<div>
		<%= link_to "Gallery", exhibits_path %>
	</div>
	<div>
		<%= link_to "Stylists", stylists_path %>
	</div>
	<div>
		<%= link_to "Contact", pages_contact_path %>
	</div>
</div>