<%= form_for @stylist do |f| %>

	<div>
		<%= f.label :image %>

		<%= f.text_field :image %>
	</div>

	<div>
		<%= f.label :name %>

		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :bio %>

		<%= f.text_area :bio %>
	</div>

	<%= f.submit 'Save Stylist Info' %>

<% end %>